﻿@model List<IPT_101.Repository.Models.Order>

@if (Model.Count() != 0)
{
        <div class="container">
            <div class="row">
                <div class="col-12">
                    
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Product
                                    </th>
                                    <th>
                                        Quantity
                                    </th>
                                    <th>
                                        Courier
                                    </th>
                                    <th>
                                        Tracking Number
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <div class="row">
                                                <div class="mr-5">
                                                    <a asp-action="Details" asp-controller="Products" asp-route-id="@item.ProductId">
                                                        <div class="card">
                                                            <img width="100" height="100" src="@item.ProductDetails.Image1" sizes="(max-width: 250px) 100vw, 250px">
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="mr-5"><br /> <a class="text-dark font-weight-bold" asp-action="Details" asp-controller="Products" asp-route-id="@item.ProductId">@item.Product.ProductName</a></div>
                                            </div>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Quantity)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Courier)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TrackingNo)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <hr />
                </div>

            </div>

           
        </div>
}
else
{
    <div class="text-center">Your haven't order yet!</div>
    <br />
}