﻿@model IEnumerable<IPT_101.Repository.Models.Order>

@{
    ViewData["Title"] = "Index";
}
<div class="main_wrapper">
    <div class="inner_wrapper" id="myamskers">
        <hr>
        <h2 class="text-center">Orders</h2>
        <hr>
        <div class="bg-white">
            <div class="container text-white bg-white p-4">
                <div class="row">
                    <div class="col-6 col-md-8 col-lg-12">
                        <div class="row text-center">
                            <div class="col-sm-6 col-md-4 col-lg-4 col-12 col-xl-2">
                                <ul class="list-unstyled">
                                    <div class="dropdown-divider"></div>
                                    <li class="btn"><a class="text-dark" href="#" id="my_account_href">Dashboard</a></li>
                                    <div class="dropdown-divider"></div>
                                    <li class=" btn"><a class="text-dark" href="#" id="my_orders_href">Orders</a></li>
                                    <div class="dropdown-divider"></div>
                                    <li class=" btn"><a class="text-dark" href="#" id="my_account_details_href">Account details</a></li>
                                    <div class="dropdown-divider"></div>
                                    <li class=" btn"><a class="text-dark" href="#" id="my_logout_href">Logout</a></li>
                                    <div class="dropdown-divider"></div>
                                </ul>
                            </div>
                            <div class="col-md-4 col-lg-5 mt-2 col-6 text-dark col-xl-10">
                                <div id="ordersmopo"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        
        <script>
    mySessionData = JSON.parse(sessionStorage.getItem("myAccountStorage"));
        $(() => {
        //ilagay sa data ang userid tapos ibabalik niya sa controller ng shoppingcarts tapos ibabalik ng shoppingcarts yung data niya sa shoppingcarts okay
            $.ajax({
                url: '@Url.Action("Order", "Orders")',
                datatype: 'html',
                method: 'POST',
                data: { Id: mySessionData.id },
                success: (res) => {
                    console.log("res", res);
                    $("#ordersmopo").append(res);

                },
                error: (err) => {
                    console.log(err);
                }
            });
    });
        </script>

