﻿@model List<IPT_101.Repository.Models.ShoppingCart>

@if (Model.Count != 0)
{
    <h1>Checkout</h1>
    <hr />
    <div class="row pt-0">
        <div class="col-lg-7">
            <div class="container">
                <h3>Billing details</h3>

                <div class="">
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <input type="text" class="form-control" id="reg_account_role" name="role" style="display:none" value="CUSTOMER">
                                <label for="firstname" class="form-label">Firstname</label>
                                <input type="text" class="form-control" id="firstname" name="firstname" value="@Model[0].User.Firstname">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="lastname" class="form-label">Lastname</label>
                                <input type="text" class="form-control" id="lastname" name="lastname" value="@Model[0].User.Lastname">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="reg_account_country" class="form-label">Country</label>
                        <input type="hidden" class="form-control" id="country" name="country" value="Philippines">
                        <select class="form-control" id="country" name="country" disabled>
                            <option value="Philippines" selected>Philippines</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="address" class="form-label">Address</label>
                        <input type="text" class="form-control" id="address" name="address" value="@Model[0].User.Address">
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="city" class="form-label">City</label>
                                <input type="text" class="form-control" id="city" name="city" value="@Model[0].User.City">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="reg_account_province" class="form-label">Province</label>
                                <input type="hidden" class="form-control" id="province" name="province">
                                <select class="form-control" id="province" name="province" data-default="" autocomplete="address-level1">
                                    <option id="optionmo" value="@Model[0].User.Address" selected>@Model[0].User.Address</option>
                                    <option value="Abra">Abra</option>
                                    <option value="Agusan del Norte">Agusan del Norte</option>
                                    <option value="Agusan del Sur">Agusan del Sur</option>
                                    <option value="Aklan">Aklan</option>
                                    <option value="Albay">Albay</option>
                                    <option value="Antique">Antique</option>
                                    <option value="Apayao">Apayao</option>
                                    <option value="Aurora">Aurora</option>
                                    <option value="Basilan">Basilan</option>
                                    <option value="Bataan">Bataan</option>
                                    <option value="Batanes">Batanes</option>
                                    <option value="Batangas">Batangas</option>
                                    <option value="Benguet">Benguet</option>
                                    <option value="Biliran">Biliran</option>
                                    <option value="Bohol">Bohol</option>
                                    <option value="Bukidnon">Bukidnon</option>
                                    <option value="Bulacan">Bulacan</option>
                                    <option value="Cagayan">Cagayan</option>
                                    <option value="Camarines Norte">Camarines Norte</option>
                                    <option value="Camarines Sur">Camarines Sur</option>
                                    <option value="Camiguin">Camiguin</option>
                                    <option value="Capiz">Capiz</option>
                                    <option value="Catanduanes">Catanduanes</option>
                                    <option value="Cavite">Cavite</option>
                                    <option value="Cebu">Cebu</option>
                                    <option value="Cotabato">Cotabato</option>
                                    <option value="Davao Occidental">Davao Occidental</option>
                                    <option value="Davao Oriental">Davao Oriental</option>
                                    <option value="Davao de Oro">Compostela Valley</option>
                                    <option value="Davao del Norte">Davao del Norte</option>
                                    <option value="Davao del Sur">Davao del Sur</option>
                                    <option value="Dinagat Islands">Dinagat Islands</option>
                                    <option value="Eastern Samar">Eastern Samar</option>
                                    <option value="Guimaras">Guimaras</option>
                                    <option value="Ifugao">Ifugao</option>
                                    <option value="Ilocos Norte">Ilocos Norte</option>
                                    <option value="Ilocos Sur">Ilocos Sur</option>
                                    <option value="Iloilo">Iloilo</option>
                                    <option value="Isabela">Isabela</option>
                                    <option value="Kalinga">Kalinga</option>
                                    <option value="La Union">La Union</option>
                                    <option value="Laguna">Laguna</option>
                                    <option value="Lanao del Norte">Lanao del Norte</option>
                                    <option value="Lanao del Sur">Lanao del Sur</option>
                                    <option value="Leyte">Leyte</option>
                                    <option value="Maguindanao">Maguindanao</option>
                                    <option value="Marinduque">Marinduque</option>
                                    <option value="Masbate">Masbate</option>
                                    <option value="Metro Manila">Metro Manila</option>
                                    <option value="Misamis Occidental">Misamis Occidental</option>
                                    <option value="Misamis Oriental">Misamis Oriental</option>
                                    <option value="Mountain Province">Mountain</option>
                                    <option value="Negros Occidental">Negros Occidental</option>
                                    <option value="Negros Oriental">Negros Oriental</option>
                                    <option value="Northern Samar">Northern Samar</option>
                                    <option value="Nueva Ecija">Nueva Ecija</option>
                                    <option value="Nueva Vizcaya">Nueva Vizcaya</option>
                                    <option value="Occidental Mindoro">Occidental Mindoro</option>
                                    <option value="Oriental Mindoro">Oriental Mindoro</option>
                                    <option value="Palawan">Palawan</option>
                                    <option value="Pampanga">Pampanga</option>
                                    <option value="Pangasinan">Pangasinan</option>
                                    <option value="Quezon">Quezon</option>
                                    <option value="Quirino">Quirino</option>
                                    <option value="Rizal">Rizal</option>
                                    <option value="Romblon">Romblon</option>
                                    <option value="Samar">Samar</option>
                                    <option value="Sarangani">Sarangani</option>
                                    <option value="Siquijor">Siquijor</option>
                                    <option value="Sorsogon">Sorsogon</option>
                                    <option value="South Cotabato">South Cotabato</option>
                                    <option value="Southern Leyte">Southern Leyte</option>
                                    <option value="Sultan Kudarat">Sultan Kudarat</option>
                                    <option value="Sulu">Sulu</option>
                                    <option value="Surigao del Norte">Surigao del Norte</option>
                                    <option value="Surigao del Sur">Surigao del Sur</option>
                                    <option value="Tarlac">Tarlac</option>
                                    <option value="Tawi-Tawi">Tawi-Tawi</option>
                                    <option value="Zambales">Zambales</option>
                                    <option value="Zamboanga Sibugay">Zamboanga Sibugay</option>
                                    <option value="Zamboanga del Norte">Zamboanga del Norte</option>
                                    <option value="Zamboanga del Sur">Zamboanga del Sur</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="zipcode" class="form-label">Postal/Zip Code</label>
                                <input type="number" pattern="\d{1,2}(?!\d)|9999" class="form-control" id="zipcode" name="zip_code" value="@Model[0].User.Zipcode">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="contact" class="form-label">Contact</label>
                                <input type="number" pattern="\d{1,2}(?!\d)|9999" class="form-control" id="contact" name="contact" value="@Model[0].User.Contactno">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="text" class="form-control" id="email" name="email" value="@Model[0].User.Email">
                    </div>
                </div>

            </div>
        </div>

        <div class="col-lg-5">
            <div class="card">
                <div class="container">
                    <h3 id="order_review_heading">Your order</h3>
                    <table class="col-12">
                        <thead>
                            <tr>
                                <th>
                                    Product
                                </th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th style="float:right;">
                                    SubTotal
                                </th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tbody>
                                <tr>
                                    <td>
                                        @item.Product.ProductName x @item.Quantity
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td style="float:right;">
                                        @item.TotalPrice
                                    </td>
                                </tr>
                            </tbody>
                        }

                        <tfoot>
                            <tr>
                                <th>SubTotal</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <td style="float:right;">
                                    @if (Model.Count != 0)
                                    {
                                        int total = 0;

                                        @for (int i = 0; i < Model.Count; i++)
                                        {
                                            total = total + Model[i].TotalPrice;
                                        }
                                        @total
                                    }
                                </td>
                            </tr>
                            <tr>
                                <th>Shipping</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <td></td>
                                <td style="float:right;">Free Shipping</td>

                            </tr>
                            <tr>
                                <th>Total</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <td></td>
                                <td style="float:right;">
                                    @if (Model.Count != 0)
                                    {
                                        int total = 0;

                                        @for (int i = 0; i < Model.Count; i++)
                                        {
                                            total = total + Model[i].TotalPrice;
                                        }
                                        @total
                                    }
                                </td>
                            </tr>
                        </tfoot>

                    </table>
                    <div class="dropdown-divider"></div>
                    <div class="container">
                        <ul class="navbar-nav">
                            <li class="">
                                <input id="payment_method_cod" type="radio" class="input-radio" name="payment_method" value="cashondelivery" checked="checked" />
                                <label for="payment_method_obt">Cash On Delivery/COD</label>
                            </li>
                            <li class="">
                                <input id="payment_method_creditcard" type="radio" class="input-radio" name="payment_method" value="creditcard" disabled />
                                <label for="payment_method_obt">Credit Card</label>
                            </li>
                            <li class="">
                                <input id="payment_method_obt" type="radio" class="input-radio" name="payment_method" value="onlinebanktransfer" disabled />
                                <label for="payment_method_obt">Online Bank Transfer</label>
                            </li>
                        </ul>
                    </div>
                    <div class="container mt-3">
                        <p class="form-row ">
                            <form id="form1" name="form1">
                                <label class="checkbox">
                                    <input type="checkbox" class="input-checkbox" name="terms" id="terms" required>
                                    <span class="">I have read and agree to the website <a class="terms-and-conditions-link">terms and conditions</a></span>&nbsp;<span class="required">*</span>
                                </label>
                            </form>
                        </p>
                    </div>
                    <div class="container">
                        <div class="mb-3 mr-4">
                            <a class="btn btn-dark" id="place_order" style="float:right;">Place Order</a>

                        </div>
                    </div>
                </div>
                <br />
            </div>

        </div>

    </div>
}
else
{
    <h1>Thank you for your Order!</h1>
    <p>Your order is currently processing, please wait for further notice.</p>
    <br />
}
<script>
    $("#form1").validate({
        rules: {
            terms: "required"

        },

    });

    $mySessionData = JSON.parse(sessionStorage.getItem("myAccountStorage"));
    //$("#firstname").val($mySessionData.firstname);
    //$("#lastname").val($mySessionData.lastname);
    //$("#address").val($mySessionData.address);
    //$("#city").val($mySessionData.city);
    //$("#zipcode").val($mySessionData.zipcode);
    //$("#contact").val("0"+$mySessionData.contactno);
    //$("#email").val($mySessionData.email);
    //$("#optionmo").val($mySessionData.province);
    //$("#optionmo").text($mySessionData.province);
    //$("#province").val($mySessionData.province);
    //$("#country").val($mySessionData.country);
    $("#cartmo").hide();
    $("#place_order").on("click", () => {
        if ($("#form1").valid() == true) {
            $(() => {
        //ilagay sa data ang userid tapos ibabalik niya sa controller ng shoppingcarts tapos ibabalik ng shoppingcarts yung data niya sa shoppingcarts okay
            $.ajax({
                url: '@Url.Action("Place_Order", "Orders")',
                datatype: 'html',
                method: 'POST',
                data: { UserId: $mySessionData.id },
                success: (res) => {
                    //console.log("res", res);
                    location.reload();
                   // $("#checkoutkana").append(res);
                },
                error: (err) => {
                    console.log(err);
                }
            });
    });

        } else {
            alert('Please check the button')
        }


    });
</script>