﻿@model IEnumerable<IPT_101.Repository.Models.ShoppingCart>

    
    <div class="container" id="checkoutkana"></div>

<script>
    $("#cartmo").hide();
    $mySessionData = JSON.parse(sessionStorage.getItem("myAccountStorage"));
    $(() => {
        //ilagay sa data ang userid tapos ibabalik niya sa controller ng shoppingcarts tapos ibabalik ng shoppingcarts yung data niya sa shoppingcarts okay
            $.ajax({
                url: '@Url.Action("Checkout", "Checkout")',
                datatype: 'html',
                method: 'POST',
                data: { Id: $mySessionData.id },
                success: (res) => {
                    console.log("res", res);
                    $("#checkoutkana").append(res);

                },
                error: (err) => {
                    console.log(err);
                }
            });
    });

</script>