﻿@model IEnumerable<IPT_101.Repository.Models.ProductDetail>

@{
    ViewData["Title"] = "List of Products";
}

<h1>List of Users</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.ProductCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.SuggestedUnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.UnitsInStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.ParcelPreparationInDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductType.ProductType1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.ProductDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.ProductCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.SuggestedUnitPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.UnitsInStock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.ParcelPreparationInDays)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductType.ProductType1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.ProductDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedAt)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
