﻿@model IEnumerable<IPT_101.Repository.Models.ProductDetail>

@if (Model.Count() != 0)
{
<div class="container">
    <div class="alert alert-success" role="alert" id="add_to_cart_alert" style="display: none">
        Item added to your cart.
    </div>
</div>
    <div class="container" id="recomm_wrapper"></div>
}
else
{
    <div class="text-center">No record Found!</div>
    <br />
}
<script>
    $recomm = 9 / 3;
    if (9 % 3 !== 0) recomm + 1;
    for (let i = 1; i <= recomm; i++) {
        $("#recomm_wrapper").append(`<div class="row text-center" id="recomm_cont_${i}"></div>`);
    }

</script>

@foreach (var item in Model)
{
<script>

        $i = 1;

            $("#recomm_cont_" + $i).append(`
                        <div class="col-md-4 pb-1 pb-md-0 mb-4">
                            <div class="card">
                                <input type="hidden" id="get_id_@item.Product.Id" name="Id" asp-for="Id" value="@item.Product.Id" />
                                <input type="hidden" id="get_userid_@item.Product.Id" asp-for="UserId" name="UserId" />
                                <input type="hidden" id="get_TotalPrice_@item.Product.Id" asp-for="TotalPrice" name="TotalPrice" value="@item.IsActive" />
                                <input type="hidden" id="get_name_@item.Product.Id" value="@item.Product.ProductName" />
                                <input type="hidden" id="get_price_@item.Product.Id" asp-for="UnitPrice" name="UnitPrice" value="@item.Product.SuggestedUnitPrice" />
                                <input type="hidden" id="get_updatedat_@item.Product.Id" asp-for="UpdatedAt" name="UpdatedAt" />
                                <input type="hidden" id="get_product_type_id_@item.Product.Id" asp-for="ProductTypeId" name="ProductTypeId" value="@item.ProductType.Id" />
                                <input type="hidden" id="get_product_id_@item.ProductId" asp-for="ProductId" name="ProductId" value="@item.ProductId" />
                            <a href="Products/Details/@item.Id" asp-action="Details" id="prod-@item.Id" asp-route-id="@item.Id"><img class="card-img-top" src="@item.Image1" alt="Card image cap"></a>
                            <div class="dropdown-divider"></div>
                            <div class="card-body">
                                <a href="Products/Details/@item.Id" asp-action="Details" asp-route-id="@item.Id"><h5 class="card-title">@item.Product.ProductName</h5></a>
                                <p class="card-text">₱@item.Product.SuggestedUnitPrice</p>
                                <a asp-action="Index" class="btn btn-primary burikat" id="add_to_cart_@item.Id">Add to Cart</a>
                            </div>
                            </div>
                        </div>
                    `);
        $session = sessionStorage.getItem("myAccountStorage");
        if ($session === null) {
            $(".burikat").hide();
        } else {
            $(".burikat").show();
            
        }
</script>
}

<script>
    function getCartCount() {
        $(() => {
        //ilagay sa data ang userid tapos ibabalik niya sa controller ng shoppingcarts tapos ibabalik ng shoppingcarts yung data niya sa shoppingcarts okay
            $.ajax({
                url: '@Url.Action("CartCount", "Home")',
                datatype: 'html',
                method: 'POST',
                data: { Id: mySessionData.id },
                success: (res) => {
                    console.log("res", res);
                    $("#recomm_wrapper").append(res);

                },
                error: (err) => {
                    console.log(err);
                }
            });
    });
    }
    $(() => {

        for (let i = 0; i < 50; i++) {
        $("#add_to_cart_" + i).on("click", () => {
            console.log("wew", $("#get_product_id_" + i).val());
            var TotalPrice = $("#get_price_" + i).val() * 1;
            $mySessionData = JSON.parse(sessionStorage.getItem("myAccountStorage"));
            $.ajax({
                //try palitan si addtocart ng index
                url: '@Url.Action("Index", "Products")',
                //datatype: 'html',
                method: 'POST',
                data: {
                    Id: $("#get_id_" + i).val(),
                    ProductId: $("#get_product_id_" + i).val(),
                    ProductTypeId: $("#get_product_type_id_" + i).val(),
                    TotalPrice: TotalPrice,
                    Quantity: 1,
                    UserId: $mySessionData.id,
                    UnitPrice: $("#get_price_" + i).val()
                },
                success: (res) => {
                    $("#add_to_cart_alert").slideDown("slow", () => {
                        setTimeout(() => {
                            $("#add_to_cart_alert").slideUp();
                        }, 1000);
                    });
                    getCartCount();
                },
                error: (err) => {
                    console.log("err", err);
                }

            });

    });
    }

    });
</script>