﻿@model IPT_101.Repository.Models.ProductDetail
    <style>
        #cart_notif {
            color: #fff;
            border-radius: 50%;
            position: absolute;
            font-size: 15px;
            font-family: Arial, Helvetica, sans-serif;
            padding: 3px 5px 2px 5px;
            margin-top: -5px;
            margin-right: -50px;
        }
    </style>

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="~/css/product.css" />
<div class="main_wrapper" id="rukabestgirl">
    <div class="inner_wrapper">
        <div class="container">
            <input type="hidden" id="get_id_@Model.Product.Id" name="Id" asp-for="Id" value="@Model.Product.Id" />
            <input type="hidden" id="get_userid_@Model.Product.Id" name="UserId" />
            <input type="hidden" id="get_TotalPrice_@Model.Product.Id" name="TotalPrice" value="@Model.IsActive" />
            <input type="hidden" id="get_name_@Model.Product.Id" value="@Model.Product.ProductName" />
            <input type="hidden" id="get_price_@Model.Product.Id" name="UnitPrice" value="@Model.Product.SuggestedUnitPrice" />
            <input type="hidden" id="get_updatedat_@Model.Product.Id" asp-for="UpdatedAt" name="UpdatedAt" />
            <input type="hidden" id="get_product_type_id_@Model.Product.Id" asp-for="ProductTypeId" name="ProductTypeId" value="@Model.ProductType.Id" />
            <input type="hidden" id="get_product_id_@Model.ProductId" asp-for="ProductId" name="ProductId" value="@Model.ProductId" />
            <div class="row content-row mb-5 mt-5">
                <div class="col-lg-5">
                    <div class="wrapper_flex">
                        <div class="container">
                            <div class="row">
                                <div class="card">
                                    <img class="card-img-top" src="@Model.Image1" alt="Card image cap">
                                </div>
                            </div>
                            <div class="row">
                                <img class="border mt-1 mr-1" height="100" width="100" src="{{asset($image2)}}" alt="Card image cap">
                                <img class="border mt-1 mr-1" height="100" width="100" src="{{asset($image3)}}" alt="Card image cap">
                                <img class="border mt-1 mr-1" height="100" width="100" src="{{asset($image4)}}" alt="Card image cap">
                                <img class="border mt-1 mr-1" height="100" width="100" src="{{asset($image5)}}" alt="Card image cap">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="wrapper_flex">
                        <h3 id="product_name"> @Model.Product.ProductName </h3>
                    </div>
                    <div class="wrapper_flex">
                        <bdi><h6>@Model.Product.ProductDescription</h6></bdi>
                    </div>
                    <div class="alert alert-success" role="alert" id="add_to_cart_alert" style="display: none">
                        Item added to your cart.
                    </div>
                    <div class="wrapper_flex">
                        <div class="col-6">
                            <div class="row">
                                <div class="wrapper_flex">
                                    <bdi><h5 class="text-danger"><span>₱</span>@Model.Product.SuggestedUnitPrice <label data-id="@Model.Product.SuggestedUnitPrice" id="lbl_total_price"></label></h5> </bdi>
                                </div>
                            </div>
                            <div class="row">
                                <div class="quantity buttons_added">
                                    <input type="button" value="-" class="minus button is-form" id="quantity_min">
                                    <label class="form-label" for="@Model.Product.ProductCode"></label>
                                    <input type="number" id="quantity_val" class="col-sm-3 text-center input-text qty text" step="1" min="1" max="" name="quantity" value="1" title="Qty" size="1" placeholder="" inputmode="numeric">
                                    <input type="button" value="+" class="plus button is-form" id="quantity_add">
                                </div>
                                <div class="col-auto text-right">
                                    <a asp-action="Details" class="btn btn-primary burikat" id="add_to_cart_@Model.Id">Add to Cart</a>
                                </div>
                            </div>
                            @if (Model.Product.UnitsInStock > 0)
                            {

                            }
                            else
                            {
                                <div class="row" id="outofstocknapo">
                                    <div class="card-body text-danger">
                                        <p><i>Out of Stock</i></p>
                                    </div>
                                </div>
                            }
                            <div class="row" id="loginkamuna">
                                <div class="card-body text-danger">
                                    <p><i>Please, log in first to add product to cart</i></p>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="container mb-2">
                            <div class="row">
                                <label class="h6 text-secondary">Product Code :</label>
                            </div>
                            <div class="row">
                                <small class="text-muted">@Model.Product.ProductCode</small>
                            </div>
                        </div>
                        <div class="container mb-2">
                            <div class="row">
                                <label class="h6 text-secondary">Additional Information :</label>
                            </div>
                            <div class="row">
                                <small class="text-muted">@Model.AdditionalInfo</small>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    getCartCount()
    //console.log("wewers",$("#lbl_total_price").attr("data-id"));
    $("#quantity_min").on("click", () => {
        var lbl = $("#lbl_total_price");
        let itr = parseInt($('#quantity_val').val()).toFixed(2);
        itr = (itr > 1) ? itr -= 1 : 1;
        $('#quantity_val').val(itr);
        var price = lbl.attr("data-id") * itr;

        var text = (itr !== 1) ? " - " + price : "";
        lbl.empty();
        lbl.append(text);

        console.log("price:", price * itr);
    });
    $("#quantity_add").on("click", () => {
        var lbl = $("#lbl_total_price");
        let itr = parseInt($('#quantity_val').val());
        itr += 1;
        $('#quantity_val').val(itr);
        var price = " - " + ($("#lbl_total_price").attr("data-id") * itr).toFixed(2);
        lbl.empty();
        lbl.append(price);
    });

    $("#quantity_val").change(function () {
        var lbl = $("#lbl_total_price");
        var itr = $(this).val();
        if (itr === 0) {
            itr = (itr === "") ? itr = 1 : parseInt($(this).val()).toFixed(2);
        } else {
            itr = 1;
        }
        $(this).val(itr);
        var price = $("#lbl_total_price").attr("data-id") * itr;
        var text = (itr !== 1) ? " - " + price : "";
        lbl.empty();
        lbl.append(text);
    });

    function getCartCount() {
        $(() => {
        //ilagay sa data ang userid tapos ibabalik niya sa controller ng shoppingcarts tapos ibabalik ng shoppingcarts yung data niya sa shoppingcarts okay
            $.ajax({
                url: '@Url.Action("CartCount", "Home")',
                datatype: 'html',
                method: 'POST',
                data: { Id: mySessionData.id },
                success: (res) => {
                    //console.log("res", res);
                    $("#rukabestgirl").append(res);

                },
                error: (err) => {
                    console.log(err);
                }
            });
    });
    }

    $(() => {

        for (let i = 0; i < 50; i++) {
        $("#add_to_cart_" + i).on("click", () => {
            const mySessionData = JSON.parse(sessionStorage.getItem("myAccountStorage"));
            var unit_price = $("#lbl_total_price").attr("data-id");
            var quantity = $("#quantity_val").val();
            var total_price = unit_price * quantity;
            var product_id = $("#get_id").val();
            var user_id = mySessionData.id;
            var TotalPrice = $("#get_price_" + i).val() * 1;
            $.ajax({
                url: '@Url.Action("Index", "Products")',
                //datatype: 'html',
                method: 'POST',
                data: {
                    Id: $("#get_id_" + i).val(),
                    ProductId: $("#get_product_id_" + i).val(),
                    ProductTypeId: $("#get_product_type_id_" + i).val(),
                    TotalPrice: total_price,
                    Quantity: quantity,
                    UserId: mySessionData.id,
                    UnitPrice: unit_price
                },
                success: (res) => {
                    //console.log("res", res);
                    $("#add_to_cart_alert").slideDown("slow", () => {
                        setTimeout(() => {
                            $("#add_to_cart_alert").slideUp();
                        }, 1000);
                    });
                    getCartCount()
                },
                error: (err) => {
                    console.log("err", err);
                }

            });

    });
    }

    });
</script>
