﻿
@model cloudscribe.Pagination.Models.PagedResult<IPT_101.Repository.Models.ProductDetail>

@{
    ViewData["Title"] = "Index";
    ViewData["Controller"] = "Products";
    ViewData["Action"] = "Index";
}
<style>
    #cart_notif {
        color: #fff;
        border-radius: 50%;
        position: absolute;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 3px 5px 2px 5px;
        margin-top: -5px;
        margin-right: -50px;
    }
</style>

@if(ViewBag.CartCount != 0)
{
<script>
        $("#cart_notif").show();
        $("#cart_notif").empty();
        $('#cart_notif').css("background-color", "red");
        $("#cart_notif").append(ViewData["cartcount"]);
</script>
}

<link rel="stylesheet" href="~/css/productd.css" />
<h2 class="text-center mt-5"><a asp-action="Index" asp-route-SortOrder="@ViewBag.PriceSortParam">PRODUCTS</a></h2>
<div class="container"><hr></div>
<div class="container">
    <div class="row">
        <div class="col-6">
            <p class="text-right">
                <div class="form-group">
                    <div class="row col-md-2 pb-1 pb-md-0 mb-4">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Sort By
                            </button>
                            <div class="dropdown-menu" id="dropdownMenuButton1" aria-labelledby="dropdownMenuButton1">
                                <a class="dropdown-item"
                                   asp-action="Index"
                                   asp-route-SortOrder="@ViewBag.DefaultSortParam"
                                   asp-route-pageNumber="@ViewBag.PageNumber">Default Sorting</a>
                                <a class="dropdown-item" id="SBPHTL"
                                   asp-action="Index"
                                   asp-route-SortOrder="@ViewBag.PriceDescSortParam"
                                   asp-route-pageNumber="@ViewBag.PageNumber">
                                    Sort by price: high to low
                                </a>
                                <a class="dropdown-item" id="SBPLTH"
                                   asp-action="Index"
                                   asp-route-SortOrder="@ViewBag.PriceAscSortParam"
                                   asp-route-pageNumber="@ViewBag.PageNumber">
                                    Sort by price: low to high
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </p>
        </div>
        <div class="col-6">
            <div class="form-group">
                <div class="container">
                    <form asp-action="Index" method="GET">

                        <p class="text-right">
                            <input type="text" class="form-control1 mt-3" id="searchString" name="searchString" value="" placeholder="Search" />
                            @*<input type="submit" class="btn btn-info" id="wewers" value="Search" />
                                <a asp-action="Index">Remove Filter</a>*@
                        </p>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="container">
    <div class="alert alert-success" role="alert" id="add_to_cart_alert" style="display: none">
        Item added to your cart.
    </div>
</div>
<div class="container" id="recomm_wrapper"></div>


<script>
    let recomm = 9 / 3;
    if (9 % 3 !== 0) recomm + 1;
    for (let i = 1; i <= recomm; i++) {
        $("#recomm_wrapper").append(`<div class="row text-center" id="recomm_cont_${i}"></div>`);
    }

</script>

@foreach (var item in Model.Data)
{
<script>
        $i = 1;

            $("#recomm_cont_" + $i).append(`
                        <div class="col-md-4 pb-1 pb-md-0 mb-4">

                            <div class="card">
                                <input type="hidden" id="get_id_@item.Product.Id" name="Id" asp-for="Id" value="@item.Product.Id" />
                                <input type="hidden" id="get_userid_@item.Product.Id" asp-for="UserId" name="UserId" />
                                    <input type="hidden" id="get_TotalPrice_@item.Product.Id" asp-for="TotalPrice" name="TotalPrice" value="@item.IsActive" />
                                <input type="hidden" id="get_name_@item.Product.Id" value="@item.Product.ProductName" />
                                <input type="hidden" id="get_price_@item.Product.Id" asp-for="UnitPrice" name="UnitPrice" value="@item.Product.SuggestedUnitPrice" />
                                <input type="hidden" id="get_updatedat_@item.Product.Id" asp-for="UpdatedAt" name="UpdatedAt" />
                                <input type="hidden" id="get_product_type_id_@item.Product.Id" asp-for="ProductTypeId" name="ProductTypeId" value="@item.ProductType.Id" />
                                <input type="hidden" id="get_product_id_@item.ProductId" asp-for="ProductId" name="ProductId" value="@item.ProductId" />
                            <a asp-action="Details" id="prod-@item.Id" asp-route-id="@item.Id"><img class="card-img-top" src="@item.Image1" alt="Card image cap"></a>
                            <div class="dropdown-divider"></div>
                            <div class="card-body">
                                <a href="Products/Details/@item.Id" asp-action="Details" asp-route-id="@item.Id"><h5 class="card-title">@item.Product.ProductName</h5></a>
                                <p class="card-text">₱@item.Product.SuggestedUnitPrice</p>
                                <a asp-action="Index" class="btn btn-primary burikat" id="add_to_cart_@item.Id">Add to Cart</a>

                            </div>
                            </div>
                        </div>
                    `);

</script>

}
<partial name="_PaginationPartial" view-data="@ViewData" model="Model" />
<script src="~/js/product.js"></script>
<script>

    getCartCount();
    $('#dropdownButton1').on("click", () => {
        var getAttrValue = $("#dropdownMenuButton1").attr('class');
        var newAttrValue = (getAttrValue === "dropdown-menu") ? "dropdown-menu show" : "dropdown-menu";
        $("#dropdownMenuButton1").attr('class', newAttrValue);

    });

    mySessionData = JSON.parse(sessionStorage.getItem("myAccountStorage"));

    function getCartCount() {
        $(() => {
        //ilagay sa data ang userid tapos ibabalik niya sa controller ng shoppingcarts tapos ibabalik ng shoppingcarts yung data niya sa shoppingcarts okay
            $.ajax({
                url: '@Url.Action("CartCount", "Home")',
                datatype: 'html',
                method: 'POST',
                data: { Id: mySessionData.id },
                success: (res) => {
                    console.log("res", res);
                    $("#recomm_wrapper").append(res);

                },
                error: (err) => {
                    console.log(err);
                }
            });
    });
    }

    $("#get_userid").val(mySessionData.id);

    let now = new Date();
    var dateString = moment(now).format('YYYY-MM-DD HH:MM:SS');
    $("#get_updatedat").val(dateString);
    //$(".burikat").attr("asp-action", "AddToCart");
    $(() => {

        for (let i = 0; i < 50; i++) {
        $("#add_to_cart_" + i).on("click", () => {
            console.log("wew", $("#get_product_id_" + i).val());
            var TotalPrice = $("#get_price_" + i).val() * 1;
            $.ajax({
                url: '@Url.Action("Index", "Products")',
                //datatype: 'html',
                method: 'POST',
                data: {
                    Id: $("#get_id_" + i).val(),
                    ProductId: $("#get_product_id_" + i).val(),
                    ProductTypeId: $("#get_product_type_id_" + i).val(),
                    TotalPrice: TotalPrice,
                    Quantity: 1,
                    UserId: mySessionData.id,
                    UnitPrice: $("#get_price_" + i).val()
                },
                success: (res) => {
                    console.log("res", res);
                    $("#add_to_cart_alert").slideDown("slow", () => {
                        setTimeout(() => {
                            $("#add_to_cart_alert").slideUp();
                        }, 1000);
                    });
                    getCartCount();
                },
                error: (err) => {
                    console.log("err", err);
                }

            });

            //here

        });
        }

    });


    $(() => {
        $("#searchString").on('keyup', () => {
            $.ajax({
                url: '@Url.Action("SearchProducts", "Products")',
                datatype: 'html',
                method: 'GET',
                data: { searchText: $("#searchString").val() },
                success:(res) => {
                    console.log("res", res);
                    $("#recomm_wrapper").html('').html(res);

                },
                error: (err) => {
                    console.log(err);
                }
            });

        });



    });





    $("#SBPLTH").on("click", () => {
        $("#dropdownMenuButton").text($(this).text());
    });


    var userInfo = JSON.parse('@Html.Raw(Json.Serialize(ViewBag.ListOfCategory))');
    var products = JSON.parse('@Html.Raw(ViewBag.ListOfProducts)');

    console.log("userInfo", userInfo);
    console.log("products", products);
    console.log("products", products.Data);
    const data = products.Data;
    var datas = [];
    if (data.length > 0) {

        data.forEach(element => {
            datas = element;
        });
        console.log("product type", datas)

    }
    var jusme = [];
    const datasim = products.Data.$values;
    for (let i = 0; i < datasim.length; i++) {
        jusme.push(products.Data.$values[i]);
    }
    console.log("ito na talaga", jusme);
    console.log("poro", datasim)
    let user = [];
    let product = [];
    if (userInfo.length > 0) {

        userInfo.forEach(element => {
            user = element;
            console.log("loob", user.productType1);
        });
    }
    if (products.length > 0) {

        products.forEach(element => {
            product = element;
            console.log("product sa loob", product);
        });
    }
    var jsArray = [];
    for (var item in datasim) {
        if (datasim.hasOwnProperty(item)) {
            // add to your js array
            jsArray.push(item);
        }
    }
    console.log("wow", jsArray);
</script>