﻿
@model IPT_101.Repository.Models.User
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="main_wrapper">
    <div class="inner_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="logo_wrapper">
                        <img src="~/images/Oppo/prod-1.png" class="rounded mx-auto d-block home_side_image" alt="logo_login">
                    </div>
                </div>
                <div class="col-6">
                    <form class="" asp-action="Index">
                        <div class="wrapper_flex d-flex justify-content-lg-center">
                            <div class="body_wrapper">
                                <div class="alert alert-danger" role="alert" id="login_alert" style="display:none;">
                                    <label id="login_alert_message" style="margin:0 auto;"></label>
                                </div>
                                <h3>Login to your Account</h3>
                                <div class="mb-3">
                                    @*<input asp-for="Role" type="hidden" class="form-control" id="login_account_role" aria-describedby="emailHelp" value="CUSTOMER">*@
                                    <label for="login_account_email" class="form-label">Email address</label>
                                    <input asp-for="Email" type="text" class="form-control" id="login_account_email" aria-describedby="emailHelp">
                                </div>
                                <label for="login_account_password" class="form-label">Password</label>
                                <div class="input-group mb-3">
                                    <input asp-for="Password" type="password" class="form-control" id="login_account_password">
                                    <button class="btn btn-outline-secondary" type="button" id="button-addon1"><span id="eyecon" class="fa fa-eye"></span></button>
                                </div>
                                <button type="submit" class="btn btn-primary" id="login_account_btn">Login</button>
                                <br><label class="">Don't have account?</label> <a class="text-blue" href="/Register" id="home_register_href">Register</a>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/login.js"></script>
<script>
    $("#home_login_href").remove();
</script>
@{
    //if (TempData["msg"] != null)
    if (TempData["msg"] == "Welcome customer")
    {
    <script>
            //alert('@TempData["msg"] ')

        //var session = sessionStorage.getItem("myAccountStorage");
            var userInfo = JSON.parse('@Html.Raw(Json.Serialize(ViewBag.User))');
            sessionStorage.setItem("myAccountStorage", JSON.stringify(userInfo));
            console.log("wew", userInfo);
            $("#cartmo").hide();
            $("#name_mo").hide();
            $("#login_alert").slideDown(() => { });
            $("#login_alert").removeClass("alert-danger");
            $("#login_alert").addClass("alert-success");
            $("#login_alert_message").text('@TempData["msg"]');
            
            setTimeout(() => {
                $("#login_alert").slideUp(() => {
                    window.location = "/Myaccount"
                    
                });
                
            }, 1000);
        
    </script>
    }
    else if (TempData["msg"] == "Email or Password is wrong!")
    {
        <script>
            //alert('@TempData["msg"] ')
            $("#login_alert").slideDown(() => { });
            $("#login_alert").removeClass("alert-success");
            $("#login_alert").addClass("alert-danger");
            $("#login_alert_message").text('@TempData["msg"]');
            setTimeout(() => {
                $("#login_alert").slideUp(() => { });
            }, 1000);
        </script>

    }

}
