﻿@model IPT_101.Repository.Models.User
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="main_wrapper">

    <div class="inner_wrapper" id="parent_register">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="wrapper_flex d-flex justify-content-lg-center">
                        <div class="body_wrapper">
                            <h3>Register New Account</h3>
                            <form class="" asp-action="Index">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="row">
                                    <div class="col-6">
                                        <input type="hidden" asp-for="Id" class="form-control" id="reg_account_id" name="id">
                                        <input type="hidden" asp-for="Isactive" value="1" class="form-control" id="reg_account_isactive" name="isactive">
                                        <input type="hidden" asp-for="UpdatedAt" class="form-control" id="reg_account_updatedat" name="updatedat">
                                        <div class="mb-3">
                                            <input type="text" class="form-control" id="reg_account_role" name="role" style="display:none" value="CUSTOMER">
                                            <label for="reg_account_firstname" class="form-label">First Name</label>
                                            <input type="text" asp-for="Firstname" class="form-control" id="reg_account_firstname" name="firstname">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="mb-3">
                                            <label for="reg_account_lastname" class="form-label">Last Name</label>
                                            <input type="text" asp-for="Lastname" class="form-control" id="reg_account_lastname" name="lastname">
                                        </div>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label for="reg_account_email" class="form-label">Email</label>
                                    <input type="text" asp-for="Email" class="form-control" id="reg_account_email" name="email">
                                </div>

                                <div class="mb-3">
                                    <label for="reg_account_contact" class="form-label">Contact</label>
                                    <input type="number" asp-for="Contactno" value="" class="form-control" />
                                </div>
                                <div class="mb-3">
                                    <label for="reg_account_address" class="form-label">Address</label>
                                    <input type="text" asp-for="Address" class="form-control" id="reg_account_address" name="address">
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="mb-3">
                                            <label for="reg_account_city" class="form-label">City</label>
                                            <input type="text" asp-for="City" class="form-control" id="reg_account_city" name="city">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="mb-3">
                                            <label for="reg_account_country" class="form-label">Country</label>
                                            <input type="hidden" asp-for="Country" value="Philippines" class="form-control" id="reg_account_country" name="country">
                                            <select class="form-control" id="reg_account_country1" name="country" disabled>
                                                <option value="Philippines">Philippines</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-6">
                                        <div class="mb-3">
                                            <label for="reg_account_province" class="form-label">Province</label>
                                            <select class="form-control" asp-for="Province" id="reg_account_province" name="province" data-default="" autocomplete="address-level1">
                                                <option value="Abra">Abra</option>
                                                <option value="Agusan del Norte">Agusan del Norte</option>
                                                <option value="Agusan del Sur">Agusan del Sur</option>
                                                <option value="Aklan">Aklan</option>
                                                <option value="Albay">Albay</option>
                                                <option value="Antique">Antique</option>
                                                <option value="Apayao">Apayao</option>
                                                <option value="Aurora">Aurora</option>
                                                <option value="Basilan">Basilan</option>
                                                <option value="Bataan">Bataan</option>
                                                <option value="Batanes">Batanes</option>
                                                <option value="Batangas">Batangas</option>
                                                <option value="Benguet">Benguet</option>
                                                <option value="Biliran">Biliran</option>
                                                <option value="Bohol">Bohol</option>
                                                <option value="Bukidnon">Bukidnon</option>
                                                <option value="Bulacan">Bulacan</option>
                                                <option value="Cagayan">Cagayan</option>
                                                <option value="Camarines Norte">Camarines Norte</option>
                                                <option value="Camarines Sur">Camarines Sur</option>
                                                <option value="Camiguin">Camiguin</option>
                                                <option value="Capiz">Capiz</option>
                                                <option value="Catanduanes">Catanduanes</option>
                                                <option value="Cavite">Cavite</option>
                                                <option value="Cebu">Cebu</option>
                                                <option value="Cotabato">Cotabato</option>
                                                <option value="Davao Occidental">Davao Occidental</option>
                                                <option value="Davao Oriental">Davao Oriental</option>
                                                <option value="Davao de Oro">Compostela Valley</option>
                                                <option value="Davao del Norte">Davao del Norte</option>
                                                <option value="Davao del Sur">Davao del Sur</option>
                                                <option value="Dinagat Islands">Dinagat Islands</option>
                                                <option value="Eastern Samar">Eastern Samar</option>
                                                <option value="Guimaras">Guimaras</option>
                                                <option value="Ifugao">Ifugao</option>
                                                <option value="Ilocos Norte">Ilocos Norte</option>
                                                <option value="Ilocos Sur">Ilocos Sur</option>
                                                <option value="Iloilo">Iloilo</option>
                                                <option value="Isabela">Isabela</option>
                                                <option value="Kalinga">Kalinga</option>
                                                <option value="La Union">La Union</option>
                                                <option value="Laguna">Laguna</option>
                                                <option value="Lanao del Norte">Lanao del Norte</option>
                                                <option value="Lanao del Sur">Lanao del Sur</option>
                                                <option value="Leyte">Leyte</option>
                                                <option value="Maguindanao">Maguindanao</option>
                                                <option value="Marinduque">Marinduque</option>
                                                <option value="Masbate">Masbate</option>
                                                <option value="Metro Manila">Metro Manila</option>
                                                <option value="Misamis Occidental">Misamis Occidental</option>
                                                <option value="Misamis Oriental">Misamis Oriental</option>
                                                <option value="Mountain Province">Mountain</option>
                                                <option value="Negros Occidental">Negros Occidental</option>
                                                <option value="Negros Oriental">Negros Oriental</option>
                                                <option value="Northern Samar">Northern Samar</option>
                                                <option value="Nueva Ecija">Nueva Ecija</option>
                                                <option value="Nueva Vizcaya">Nueva Vizcaya</option>
                                                <option value="Occidental Mindoro">Occidental Mindoro</option>
                                                <option value="Oriental Mindoro">Oriental Mindoro</option>
                                                <option value="Palawan">Palawan</option>
                                                <option value="Pampanga">Pampanga</option>
                                                <option value="Pangasinan">Pangasinan</option>
                                                <option value="Quezon">Quezon</option>
                                                <option value="Quirino">Quirino</option>
                                                <option value="Rizal">Rizal</option>
                                                <option value="Romblon">Romblon</option>
                                                <option value="Samar">Samar</option>
                                                <option value="Sarangani">Sarangani</option>
                                                <option value="Siquijor">Siquijor</option>
                                                <option value="Sorsogon">Sorsogon</option>
                                                <option value="South Cotabato">South Cotabato</option>
                                                <option value="Southern Leyte">Southern Leyte</option>
                                                <option value="Sultan Kudarat">Sultan Kudarat</option>
                                                <option value="Sulu">Sulu</option>
                                                <option value="Surigao del Norte">Surigao del Norte</option>
                                                <option value="Surigao del Sur">Surigao del Sur</option>
                                                <option value="Tarlac">Tarlac</option>
                                                <option value="Tawi-Tawi">Tawi-Tawi</option>
                                                <option value="Zambales">Zambales</option>
                                                <option value="Zamboanga Sibugay">Zamboanga Sibugay</option>
                                                <option value="Zamboanga del Norte">Zamboanga del Norte</option>
                                                <option value="Zamboanga del Sur">Zamboanga del Sur</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="mb-3">
                                            <label for="reg_account_zipcode" class="form-label">Postal/Zip Code</label>
                                            <input type="number" asp-for="Zipcode" value="" class="form-control" />

                                        </div>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label for="reg_account_password" class="form-label">Password</label>
                                    <div class="input-group mb-3">
                                        <input type="password" asp-for="Password" class="form-control" placeholder="Password" id="reg_account_password" aria-label="Password" aria-describedby="button-addon2" name="password">
                                        <button class="btn btn-outline-secondary" type="button" id="button-addon2"><span class="fa fa-eye" id="eyecon"></span></button>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label for="reg_account_repassword" class="form-label">Confirm password</label>
                                    <div class="input-group mb-3">
                                        <input type="password" class="form-control" id="reg_account_repassword" name="repassword">
                                        <button class="btn btn-outline-secondary" type="button" id="button-addon3"><span class="fa fa-eye" id="eyecon1"></span></button>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-primary" id="reg_account_btn">Register</button>
                                <br><label class="mt-2">Already have account?</label> <a href="/login" id="home_login_href_gomana">Login</a>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="logo_wrapper">
                        <img src="{{ asset('images/components/logo_register.png') }}" class="rounded mx-auto d-block home_side_image" alt="logo_register">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@{
    if (TempData["msg"] == "Meron na po")
    {
        <script>
            alert('The email was already account');
            var final_obj = {};
            $("#parent_register input.form-control").each(function () {
                let key = $(this).attr("name");
                let value = $(this).val("");
                final_obj[key] = value;
            });
            $("#parent_register select.form-control").each(function () {
                let key = $(this).attr("name");
                let value = $(this).val("");
                final_obj[key] = value;
            });
            $("#reg_account_country1").val("Philippines");
            location.reload();
        </script>
    }
    else if (TempData["msg"] == "Registered Successfully")
    {
        <script>
            alert('Registered Successfully!');
            var final_obj = {};
            $("#parent_register input.form-control").each(function () {
                let key = $(this).attr("name");
                let value = $(this).val("");
                final_obj[key] = value;
            });
            $("#parent_register select.form-control").each(function () {
                let key = $(this).attr("name");
                let value = $(this).val("");
                final_obj[key] = value;
            });
            $("#reg_account_country1").val("Philippines");
        </script>
    }
    else if (TempData["msg"] == "Password doesn't match!")
    {
        <script>
            alert('Password doesn\'t match!');
            var final_obj = {};
            $("#parent_register input.form-control").each(function () {
                let key = $(this).attr("name");
                let value = $(this).val("");
                final_obj[key] = value;
            });
            $("#parent_register select.form-control").each(function () {
                let key = $(this).attr("name");
                let value = $(this).val("");
                final_obj[key] = value;
            });
            $("#reg_account_country1").val("Philippines");
        </script>
    }
}


<script>
    let now = new Date();
    var dateString = moment(now).format('YYYY-MM-DD HH:MM:SS');
    $("#reg_account_updatedat").val(dateString);
   // $("#reg_account_contact").val();
    //$("#reg_account_zipcode").attr('asp-for', 'Zipcode');
   // $("#reg_account_zipcode").val($("#reg_account_zipcode1").val());
    $("#reg_account_btn").on("click", () => {
         $(() => {
        //ilagay sa data ang userid tapos ibabalik niya sa controller ng shoppingcarts tapos ibabalik ng shoppingcarts yung data niya sa shoppingcarts okay
            $.ajax({
                url: '@Url.Action("Index", "Register")',
                datatype: 'html',
                method: 'POST',
                data: {
                    password: $("#reg_account_password").val(),
                    repassword: $("#reg_account_repassword").val(),
                },
                success: (res) => {
                    console.log("res", res);
                    //$("#ordersmopo").append(res);

                },
                error: (err) => {
                    console.log(err);
                }
            });
    });
    });

</script>