﻿@model List<IPT_101.Repository.Models.ShoppingCart>

@if (Model.Count() != 0)
{

<div class="container" id="sarsoxer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Product
                                </th>
                                <th>
                                    Unit Price
                                </th>
                                <th>
                                    Quantity
                                </th>
                                <th>
                                    SubTotal
                                </th>
                                <th>

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <div class="row">
                                            <div class="mr-5">
                                                <a asp-action="Details" asp-controller="Products" asp-route-id="@item.ProductId">
                                                    <div class="card">
                                                        <img width="100" height="100" src="@item.ProductDetails.Image1" sizes="(max-width: 250px) 100vw, 250px">
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="mr-5"><br /> <a class="text-dark font-weight-bold" asp-action="Details" asp-controller="Products" asp-route-id="@item.ProductId">@item.Product.ProductName</a></div>
                                        </div>
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.UnitPrice)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TotalPrice)
                                    </td>
                                    <td>
                                        <input type="hidden" id="id_item_percart_@item.Id" value="@item.Id" />
                                        <input type="hidden" id="id_item_percart_unitprice_@item.Id" value="@item.UnitPrice" />
                                        <a class="btn btn-success mt-2" id="dagdagkpa_@item.Id" asp-action="Index"><span class="fa fa-plus general_icon text-white"></span></a>
                                        <a class="btn btn-danger mt-2" id="bawaskpa_@item.Id" asp-action="Index"><span class="fa fa-minus general_icon text-white"></span></a>
                                        <a class="btn btn-secondary mt-2" id="aliskpa_@item.Id" asp-action="Index"><span class="fa fa-trash general_icon text-white"></span></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <hr />
                </div>
            </div>
            
        </div>
        
        <div class="row">
            <div class="col-12">
                <div class="card-body text-right">
                        
                    <a class="btn btn-secondary" href="/checkout">Proceed to Checkout</a>
                </div>
            </div>
        </div>
    </div>
</div>
}
else
{
    <div class="text-center">Your cart is empty!</div>
    <br />
}
<script>
    $mySessionData = JSON.parse(sessionStorage.getItem("myAccountStorage"));
    $("#cartmo").hide();
    getCartCount();
    function getCartCount() {
        $(() => {
        //ilagay sa data ang userid tapos ibabalik niya sa controller ng shoppingcarts tapos ibabalik ng shoppingcarts yung data niya sa shoppingcarts okay
            $.ajax({
                url: '@Url.Action("CartCount", "Home")',
                datatype: 'html',
                method: 'POST',
                data: { Id: $mySessionData.id },
                success: (res) => {
                    console.log("res", res);
                    $("#sarsoxer").append(res);

                },
                error: (err) => {
                    console.log(err);
                }
            });
    });
    }

    for (let i = 0; i < 50; i++) {
        $("#dagdagkpa_"+i).on("click", () => {
        $.ajax({
                url: '@Url.Action("Add", "ShoppingCarts")',
                //datatype: 'html',
                method: 'POST',
                data: {
                    Id: $("#id_item_percart_"+i).val(),
                    UnitPrice: $("#id_item_percart_unitprice_"+i).val()
                },
                success: (res) => {
                    console.log("res", res);

                    getCartCount();
                },
                error: (err) => {
                    console.log("err", err);
                }

            });

    });
    }

    for (let i = 0; i < 50; i++) {
        $("#bawaskpa_"+i).on("click", () => {
        $.ajax({
                url: '@Url.Action("Minus", "ShoppingCarts")',
                //datatype: 'html',
                method: 'POST',
                data: {
                    Id: $("#id_item_percart_"+i).val(),
                    UnitPrice: $("#id_item_percart_unitprice_"+i).val()
                },
                success: (res) => {
                    //console.log("res", res);

                    getCartCount();
                },
                error: (err) => {
                    console.log("err", err);
                }

            });

    });
    }

    for (let i = 0; i < 50; i++) {
        $("#aliskpa_"+i).on("click", () => {
        $.ajax({
                url: '@Url.Action("Alis", "ShoppingCarts")',
                //datatype: 'html',
                method: 'POST',
                data: {
                    Id: $("#id_item_percart_"+i).val()
                },
                success: (res) => {
                    //console.log("res", res);

                    getCartCount();
                },
                error: (err) => {
                    console.log("err", err);
                }

            });

    });
    }
</script>