﻿@model IEnumerable<IPT_101.Repository.Models.ShoppingCart>

@{
    ViewData["Title"] = "Index";
}

<h1>Shopping Cart</h1>
<div id="sarsoxer">
    
</div>
<script>
    $("#cartmo").hide();
    mySessionData = JSON.parse(sessionStorage.getItem("myAccountStorage"));
        $(() => {
        //ilagay sa data ang userid tapos ibabalik niya sa controller ng shoppingcarts tapos ibabalik ng shoppingcarts yung data niya sa shoppingcarts okay
            $.ajax({
                url: '@Url.Action("ShoppingCart", "ShoppingCarts")',
                datatype: 'html',
                method: 'POST',
                data: { Id: mySessionData.id },
                success: (res) => {
                    console.log("res", res);
                    $("#sarsoxer").append(res);

                },
                error: (err) => {
                    console.log(err);
                }
            });
    });
</script>
