﻿@model List<IPT_101.Repository.Models.ShoppingCart>
<style>
    #cart_notif {
        color: #fff;
        border-radius: 50%;
        position: absolute;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 3px 5px 2px 5px;
        margin-top: -5px;
        margin-right: -50px;
    }
</style>
@if (Model.Count != 0)
{
    int total = 0;

    for (int i = 0; i < Model.Count; i++)
    {

        total = total + Model[i].Quantity;

    }
    <script>
        $("#cart_notif").show();
        $("#cart_notif").empty();
        $('#cart_notif').css("background-color", "red");
        $("#cart_notif").append(@total);
    </script>
}
