﻿
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" id="butiki">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<script>
    $mySessionData = JSON.parse(sessionStorage.getItem("myAccountStorage"));
     $(() => {
        //ilagay sa data ang userid tapos ibabalik niya sa controller ng shoppingcarts tapos ibabalik ng shoppingcarts yung data niya sa shoppingcarts okay
            $.ajax({
                url: '@Url.Action("CartCount", "Home")',
                datatype: 'html',
                method: 'GET',
                data: { Id: $mySessionData.id },
                success: (res) => {
                    console.log("res", res);
                    $("#butiki").append(res);

                },
                error: (err) => {
                    console.log(err);
                }
            });
    });
</script>
