﻿@model IPT_101.Repository.Models.User
<div class="main_wrapper">
    <div class="inner_wrapper" id="myamskers">
        <hr>
        <h2 class="text-center">Account Details</h2>
        <hr>
        <div class="bg-white">
            <div class="container text-white bg-white p-4">
                <div class="row">
                    <div class="col-6 col-md-8 col-lg-12">
                        <div class="row text-center">
                            <div class="col-sm-6 col-md-4 col-lg-4 col-12 col-xl-2">
                                <ul class="list-unstyled">
                                    <div class="dropdown-divider"></div>
                                    <li class="btn"><a class="text-dark" href="#" id="my_account_href">Dashboard</a></li>
                                    <div class="dropdown-divider"></div>
                                    <li class=" btn"><a class="text-dark" href="#" id="my_orders_href">Orders</a></li>
                                    <div class="dropdown-divider"></div>
                                    <li class=" btn"><a class="text-dark" href="#" id="my_account_details_href">Account details</a></li>
                                    <div class="dropdown-divider"></div>
                                    <li class=" btn"><a class="text-dark" href="#" id="my_logout_href">Logout</a></li>
                                    <div class="dropdown-divider"></div>
                                </ul>
                            </div>
                            <div class="col-md-4 col-lg-5 col-6 text-dark col-xl-8">
                                <div class="wrapper_flex d-flex justify-content-lg-center">
                                    <div class="main_wrapper">
                                            <div class="row text-left" id="change_details">
                                                <div class="col-6">
                                                    <div class="mb-3">
                                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                        <b id="id_mo" style="display:none"></b>
                                                        <input type="hidden" asp-for="Id" class="form-control" id="reg_account_id" name="Id">
                                                        <input type="hidden" asp-for="Isactive" value="1" class="form-control" id="update_isactive" name="Isactive">
                                                        <input type="hidden" asp-for="UpdatedAt" class="form-control" id="reg_account_updatedat" name="Updatedat">
                                                        <input type="text" asp-for="Role" class="form-control" id="reg_account_role" name="Role" style="display:none" value="CUSTOMER">
                                                        <label for="fname" class="form-label">First Name</label>
                                                        <input type="text" asp-for="Firstname" class="form-control" id="fname" name="Firstname" disabled value="@Model.Firstname">
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="mb-3">
                                                        <label for="lname" class="form-label">Last Name</label>
                                                        <input type="text" asp-for="Lastname" class="form-control" id="lname" name="Lastname" disabled value="@Model.Lastname">
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="mb-3">
                                                        <label for="email" class="form-label">Email</label>
                                                        <input type="text" asp-for="Email" class="form-control" id="email" name="Email" disabled value="@Model.Email">
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="mb-3">
                                                        <label for="contact_no" class="form-label">Contact number</label>
                                                        <input type="number" asp-for="Contactno" class="form-control" id="contact_no" name="Contactno" disabled value="@Model.Contactno">
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="mb-3">
                                                        <b id="id_mo" style="display:none"></b>
                                                        <label for="change_address" class="form-label">Address</label>
                                                        <input type="text" asp-for="Address" class="form-control" id="change_address" name="Address" disabled value="@Model.Address">
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="mb-3">
                                                        <label for="change_city" class="form-label">City</label>
                                                        <input type="text" asp-for="City" class="form-control" id="change_city" name="City" disabled value="@Model.City">
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="mb-3">
                                                        <label for="change_province" class="form-label">Province</label>
                                                        <select class="form-control" asp-for="Province" id="change_province" name="Province" data-default="" autocomplete="address-level1" disabled>
                                                            <option value="@Model.Province">@Model.Province</option>
                                                            <option value="Abra">Abra</option>
                                                            <option value="Agusan del Norte">Agusan del Norte</option>
                                                            <option value="Agusan del Sur">Agusan del Sur</option>
                                                            <option value="Aklan">Aklan</option>
                                                            <option value="Albay">Albay</option>
                                                            <option value="Antique">Antique</option>
                                                            <option value="Apayao">Apayao</option>
                                                            <option value="Aurora">Aurora</option>
                                                            <option value="Basilan">Basilan</option>
                                                            <option value="Bataan">Bataan</option>
                                                            <option value="Batanes">Batanes</option>
                                                            <option value="Batangas">Batangas</option>
                                                            <option value="Benguet">Benguet</option>
                                                            <option value="Biliran">Biliran</option>
                                                            <option value="Bohol">Bohol</option>
                                                            <option value="Bukidnon">Bukidnon</option>
                                                            <option value="Bulacan">Bulacan</option>
                                                            <option value="Cagayan">Cagayan</option>
                                                            <option value="Camarines Norte">Camarines Norte</option>
                                                            <option value="Camarines Sur">Camarines Sur</option>
                                                            <option value="Camiguin">Camiguin</option>
                                                            <option value="Capiz">Capiz</option>
                                                            <option value="Catanduanes">Catanduanes</option>
                                                            <option value="Cavite">Cavite</option>
                                                            <option value="Cebu">Cebu</option>
                                                            <option value="Cotabato">Cotabato</option>
                                                            <option value="Davao Occidental">Davao Occidental</option>
                                                            <option value="Davao Oriental">Davao Oriental</option>
                                                            <option value="Davao de Oro">Compostela Valley</option>
                                                            <option value="Davao del Norte">Davao del Norte</option>
                                                            <option value="Davao del Sur">Davao del Sur</option>
                                                            <option value="Dinagat Islands">Dinagat Islands</option>
                                                            <option value="Eastern Samar">Eastern Samar</option>
                                                            <option value="Guimaras">Guimaras</option>
                                                            <option value="Ifugao">Ifugao</option>
                                                            <option value="Ilocos Norte">Ilocos Norte</option>
                                                            <option value="Ilocos Sur">Ilocos Sur</option>
                                                            <option value="Iloilo">Iloilo</option>
                                                            <option value="Isabela">Isabela</option>
                                                            <option value="Kalinga">Kalinga</option>
                                                            <option value="La Union">La Union</option>
                                                            <option value="Laguna">Laguna</option>
                                                            <option value="Lanao del Norte">Lanao del Norte</option>
                                                            <option value="Lanao del Sur">Lanao del Sur</option>
                                                            <option value="Leyte">Leyte</option>
                                                            <option value="Maguindanao">Maguindanao</option>
                                                            <option value="Marinduque">Marinduque</option>
                                                            <option value="Masbate">Masbate</option>
                                                            <option value="Metro Manila">Metro Manila</option>
                                                            <option value="Misamis Occidental">Misamis Occidental</option>
                                                            <option value="Misamis Oriental">Misamis Oriental</option>
                                                            <option value="Mountain Province">Mountain</option>
                                                            <option value="Negros Occidental">Negros Occidental</option>
                                                            <option value="Negros Oriental">Negros Oriental</option>
                                                            <option value="Northern Samar">Northern Samar</option>
                                                            <option value="Nueva Ecija">Nueva Ecija</option>
                                                            <option value="Nueva Vizcaya">Nueva Vizcaya</option>
                                                            <option value="Occidental Mindoro">Occidental Mindoro</option>
                                                            <option value="Oriental Mindoro">Oriental Mindoro</option>
                                                            <option value="Palawan">Palawan</option>
                                                            <option value="Pampanga">Pampanga</option>
                                                            <option value="Pangasinan">Pangasinan</option>
                                                            <option value="Quezon">Quezon</option>
                                                            <option value="Quirino">Quirino</option>
                                                            <option value="Rizal">Rizal</option>
                                                            <option value="Romblon">Romblon</option>
                                                            <option value="Samar">Samar</option>
                                                            <option value="Sarangani">Sarangani</option>
                                                            <option value="Siquijor">Siquijor</option>
                                                            <option value="Sorsogon">Sorsogon</option>
                                                            <option value="South Cotabato">South Cotabato</option>
                                                            <option value="Southern Leyte">Southern Leyte</option>
                                                            <option value="Sultan Kudarat">Sultan Kudarat</option>
                                                            <option value="Sulu">Sulu</option>
                                                            <option value="Surigao del Norte">Surigao del Norte</option>
                                                            <option value="Surigao del Sur">Surigao del Sur</option>
                                                            <option value="Tarlac">Tarlac</option>
                                                            <option value="Tawi-Tawi">Tawi-Tawi</option>
                                                            <option value="Zambales">Zambales</option>
                                                            <option value="Zamboanga Sibugay">Zamboanga Sibugay</option>
                                                            <option value="Zamboanga del Norte">Zamboanga del Norte</option>
                                                            <option value="Zamboanga del Sur">Zamboanga del Sur</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="mb-3">
                                                        <label for="change_country" class="form-label">Country</label>
                                                        <select class="form-control" asp-for="Country" id="change_country" name="Country" disabled>
                                                            <option value="@Model.Country" selected>@Model.Country</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="mb-3">
                                                        <label for="change_zip_code" class="form-label">Postal/Zip code</label>
                                                        <input type="number" asp-for="Zipcode" class="form-control" id="change_zip_code" name="Zipcode" disabled value="@Model.Zipcode">
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="mb-3" style="">
                                                        <label for="password_mo" class="form-label">Password</label>
                                                        <input type="password" asp-for="Password" class="form-control" id="password_mo" name="Password" disabled>
                                                    </div>
                                                </div>
                                                <div class="col-6 ">
                                                    <div class="mb-3">
                                                        <label for="repassword_mo" class="form-label">Confirm password</label>
                                                        <input type="password" class="form-control" id="repassword_mo" name="password" disabled>
                                                    </div>
                                                </div>
                                                <div class="col-12 text-right">
                                                    <div class="mb-3">
                                                        
                                                        <button type="submit" class="btn btn-outline-dark" id="button_update" style="display:none">Update</button>
                                                        <a class="btn btn-outline-dark" id="button_update_cancel" style="display:none">Cancel</a>
                                                        <a class="btn btn-outline-dark" id="button_change">Change</a>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
    let now = new Date();
    var dateString = moment(now).format('YYYY-MM-DD HH:MM:SS');
    $mySessionData = JSON.parse(sessionStorage.getItem("myAccountStorage"));
    $("#reg_account_updatedat").val(dateString);
    $("#button_change").on("click", () => {
        $("#change_details input.form-control").removeAttr("disabled");
        $("#email").attr('disabled', 'disabled');
        $("#button_update").removeAttr("style");
        $("#button_update_cancel").removeAttr("style");
        $("#button_change").hide();
    });

    if ($("#password_mo").val() === null || $("#password_mo").val() === undefined || $("#password_mo").val() === "") {
        $("#password_mo").val($mySessionData.password)
        $("#repassword_mo").val($mySessionData.password)
    }
    $("#button_update").on("click", () => {
        $("#change_details input.form-control").attr('disabled', 'disabled');
        $("#email").attr('disabled', 'disabled');
        $("#button_update").hide();
        $("#button_update_cancel").hide();
        $("#button_change").show();
        if ($("#password_mo").val() === $("#repassword_mo").val()) {
            testData();
            alert('Updated Successfully!');
        } else {
            alert('Password doesn\'t match!');
            location.reload();
        }
        
        //$("#password_mo").val("");
        //$("#repassword_mo").val("");
    });

    $("#button_update_cancel").on("click", () => {
        $("#button_change").show();
        $("#button_update").hide();
        $("#button_update_cancel").hide();
        $("#change_details input.form-control").attr('disabled', 'disabled');
    });
    function testData() {
        $(() => {

            $.ajax({
                url: '@Url.Action("woerl", "Myaccount")',
                datatype: 'html',
                method: 'POST',
                data: {
                    Id: $mySessionData.id,
                    Role: "CUSTOMER",
                    Firstname: $("#fname").val(),
                    Lastname: $("#lname").val(),
                    Contactno: $("#contact_no").val(),
                    Address: $("#change_address").val(),
                    City: $("#change_city").val(),
                    Province: $("#change_province").val(),
                    Zipcode: $("#change_zip_code").val(),
                    Country: $("#change_country").val(),
                    Email: $("#email").val(),
                    Password: $("#password_mo").val(),
                },
                success: (res) => {
                    console.log("res", res);
                    $mySessionData = {
                        id: $mySessionData.id,
                        role: "CUSTOMER",
                        firstname: $("#fname").val(),
                        lastname: $("#lname").val(),
                        contactno: $("#contact_no").val(),
                        address: $("#change_address").val(),
                        city: $("#change_city").val(),
                        province: $("#change_province").val(),
                        zipcode: $("#change_zip_code").val(),
                        country: $("#change_country").val(),
                        email: $("#email").val(),
                        password: $("#password_mo").val()
                    }
                    //var userInfo = JSON.parse('@Html.Raw(Json.Serialize(ViewBag.User))');
                    sessionStorage.setItem("myAccountStorage", JSON.stringify($mySessionData));
                    //$("#change_details").append(res);
                    location.reload();

                },
                error: (err) => {
                    console.log(err);
                }
            });
    });
    }
        </script>