﻿@model IPT_101.Repository.Models.User
<div class="main_wrapper">
    <div class="inner_wrapper" id="myamskers">
        <hr>
        <h2 class="text-center">My Account</h2>
        <hr>
        <div class="bg-white">
            <div class="container text-white bg-white p-4">
                <div class="row">
                    <div class="col-6 col-md-8 col-lg-12">
                        <div class="row text-center">
                            <div class="col-sm-6 col-md-4 col-lg-4 col-12 col-xl-2">
                                <ul class="list-unstyled">
                                    <div class="dropdown-divider"></div>
                                    <li class="btn"><a class="text-dark" href="#" id="my_account_href">Dashboard</a></li>
                                    <div class="dropdown-divider"></div>
                                    <li class=" btn"><a class="text-dark" href="#" id="my_orders_href">Orders</a></li>
                                    <div class="dropdown-divider"></div>
                                    <li class=" btn"><a class="text-dark" href="#" id="my_account_details_href">Account details</a></li>
                                    <div class="dropdown-divider"></div>
                                    <li class=" btn"><a class="text-dark" href="#" id="my_logout_href">Logout</a></li>
                                    <div class="dropdown-divider"></div>
                                </ul>
                            </div>
                            <div class="col-md-4 col-lg-5 col-6 text-dark col-xl-8">
                                <p class="text-left">Hello, <b id="my_name"></b></p><p>From your account dashboard you can view your recent orders, manage your shipping and billing addresses, and edit your password and account details.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
    $mySessionData = JSON.parse(sessionStorage.getItem("myAccountStorage"));
            $("#my_name").text($mySessionData.firstname);
            
            $(() => {
        //ilagay sa data ang userid tapos ibabalik niya sa controller ng shoppingcarts tapos ibabalik ng shoppingcarts yung data niya sa shoppingcarts okay
            $.ajax({
                url: '@Url.Action("CartCount", "Home")',
                datatype: 'html',
                method: 'POST',
                data: { Id: $mySessionData.id },
                success: (res) => {
                    //console.log("res", res);
                    $("#myamskers").append(res);

                },
                error: (err) => {
                    console.log(err);
                }
            });
    });
        </script>
